/*==========================
08. About Style CSS
==========================*/

.festival-content {
  @media #{$xl-device} {
    margin-left: 55px;
    padding-right: 80px;
  }

  h6 {
    margin-bottom: 13px;
  }

  .festival-since {
    color: #484848;
    display: inline-block;
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    padding-right: 20px;
    margin-bottom: 30px;

    @media #{$sm-device} {
      margin-bottom: 20px;
    }

    &:after {
      background-color: #b4b4b4;
      content: '';
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      width: 110px;
    }
  }

  .btn-festival {
    color: $paragraph;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-top: 15px;

    @media #{$sm-device} {
      margin-top: 5px;
    }

    i {
      font-size: 20px;
      line-height: 3px;
      vertical-align: middle;
      transition: 0.3s;
    }

    &:hover {
      i {
        padding-left: 5px;
      }
    }
  }

  &--2{
    @media #{$xl-device} {
      margin-left: 0;
      padding-right: 40px;
    }
  }
}

.festival-thumb {
  overflow: hidden;

  @media #{$sm-device} {
    margin-bottom: 35px;
  }

  img {
    width: 100%;
    transition: 0.4s;
  }

  &--2{
    margin-right: -250px;
  }
}