/*==========================================
23. Tour Details Page Style CSS
===========================================*/
.post-content-wrapper {
  .post-item {
    .post-thumb {

      img {
        object-fit: cover;
        height: 300px;
        width: 100%;
      }

      .discount {
        position: absolute;
        background-color: #0D3069;
        padding: 8px 15px 8px 12px;
        margin-top: 5px;
        z-index: 2;
        color: #fff;
      }
    }

    .post-content {
      padding-top: 35px;
      padding-bottom: 30px;
    }

    .intro-list {
      li {
        margin-bottom: 10px;
        font-weight: 500;
        color: #666;

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          content: '\f00c';
          font-family: $fa-icon;
          font-size: 11px;
          margin-right: 9px;
          color: #2fbf1e;
        }
      }
    }
  }

  &.post-list {
    .post-item {
      .post-content {
        padding-top: 25px;
        padding-bottom: 20px;

        @media #{$xl-device, $md-device, $lg-device} {
          padding-left: 0;
        }
      }
    }
  }
}

.mem-achieve-item {
  margin-top: 50px;

  .skill-bar-wrap,
  .history-content-wrap {
    @media #{$xl-device} {
      max-width: 75%;
    }
  }

  .skill-list {
    text-align: justify;
    padding-left: 20px;
    font-size: 16px;
    color: #203047;

    li {
      margin-bottom: 10px;
      font-weight: 500;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '\f1db';
        font-family: $fa-icon;
        font-size: 14px;
        margin-right: 5px;
      }
    }
  }

  .skill {
    padding-left: 200px;
  }

  .history-content-wrap {
    .icon-box-item {

      @media #{$md-device} {
        display: flex;
      }

      .icon-box__icon {
        margin-right: 0px;
        margin-bottom: 0;
        flex-basis: 100px;
        width: 100px;
      }
    }
  }

  &.tour-education {
    margin-bottom: 55px;

    @media #{$sm-device} {
      margin-bottom: 40px;
    }
  }
}

.tour-details-top {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  position: relative;

  .tour-desc {
    h2 {
      @include font-size(32px);
      margin-bottom: 8px;
    }

    h5 {
      opacity: 0.8;
      font-size: 16px;
      line-height: 1;
      font-weight: 500;
      margin-bottom: 25px;
    }

    .intro-list {
      li {
        margin-bottom: 10px;
        font-weight: 500;

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          content: '\f00c';
          font-family: $fa-icon;
          margin-right: 9px;
          color: #2fbf1e;
        }
      }
    }

    .not-include-list {
      li {
        margin-bottom: 10px;
        font-weight: 500;

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          content: '\f00d';
          font-family: $fa-icon;
          margin-right: 9px;
          color: $red;
        }


      }
    }

    .days {
      padding: 20px 0;
    }

    .collapse {
      .collapse-item {
        margin: 8px 0;
        cursor: pointer;

        &:hover {}
      }
    }
  }

  .contact-info {
    p {
      position: relative;
      text-align: left;

      strong {
        position: absolute;
        width: 160px;
        padding: 0px 0 10px 0;
        left: 0;
        top: 0;
      }
    }

    strong {
      position: relative;
      width: 160px;
      padding: 10px 0 10px 0;
      left: 0;
      top: 0;
      color: #203047;
    }

    span {
      padding: 10px 0 10px 200px;
      color: #203047;
    }

    ul {
      position: relative;
      padding: 0px 0 10px 100px;
      color: #203047;
    }
  }

  .sticky-content {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 125px;
  }
}

figure.wp-block-table {
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  td {
    padding: 9px 9px;
    text-align: justify;
    color: #203047;
  }

  th {
    border: 0px solid #AAAAAA;
    padding: 9px 9px;
  }

  tbody {
    td {
      font-size: 16px;

      &:first-child {
        width: 100px;
        text-align: start;
        font-weight: 600;
        text-transform: uppercase;
        color: #0D3069;
      }
    }
  }
}