/*==========================================
23. Tour Details Page Style CSS
===========================================*/
.post-content-wrapper {
  .post-item {
    .post-thumb{
      img{
        object-fit: cover;
        height: 300px;
        width: 100%;
      }
    }

    .post-content {
      padding-top: 35px;
      padding-bottom: 30px;
    }

    .intro-list {
      li {
        margin-bottom: 10px;
        font-weight: 500;
  
        &:last-child {
          margin-bottom: 0;
        }
        
        &:before {
          content: '\f00c';
          font-family: $fa-icon;
          font-size: 10px;
          margin-right: 9px;
          color: green($color: #065818);
        }   
      }
    }
  }

  &.post-list {
    .post-item {
      .post-content {
        padding-top: 25px;
        padding-bottom: 20px;
        @media #{$xl-device, $md-device, $lg-device} {
          padding-left: 0;
        }
      }
    }
  }
}

.tour-desc {
  h2 {
    @include font-size(32px);
    margin-bottom: 8px;
  }

  h5 {
    opacity: 0.8;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 25px;
  }

  .intro-list {
    li {
      margin-bottom: 10px;
      font-weight: 500;

      &:last-child {
        margin-bottom: 0;
      }
      
      &:before {
        content: '\f00c';
        font-family: $fa-icon;
        font-size: 10px;
        margin-right: 9px;
      }
    }
  }

  .not-include-list {
    li {
      margin-bottom: 10px;
      font-weight: 500;

      &:last-child {
        margin-bottom: 0;
      }
      
      &:before {
        content: '\f00d';
        font-family: $fa-icon;
        font-size: 10px;
        margin-right: 9px;
      }

      
    }
  }
}

.tour-social-icons {
  display: flex;

  a {
    color: $white;
    display: block;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 50px;

    &.facebook {
      background-color: $facebook;
    }

    &.twitter {
      background-color: $twitter;
    }

    &.linkedin {
      background-color: $linkedin;
    }

    &.reddit {
      background-color: $reddit;
    }

    &.pinterest {
      background-color: $pinterest;
    }
  }
}

.contact-info {
  p {
    position: relative;
    padding: 10px 0 10px 200px;

    strong {
      position: absolute;
      width: 160px;
      padding: 10px 0 10px 0;
      left: 0;
      top: 0;
    }
  }
}

.mem-achieve-item {
  margin-top: 50px;

  h4 {
    font-weight: 600;
  }

  .skill-bar-wrap, .history-content-wrap {
    @media #{$xl-device} {
      max-width: 75%;
    }
  }
  .skill-bar-wrap {
    .skill-list {
      li {
        margin-bottom: 10px;
        font-weight: 500;
  
        &:last-child {
          margin-bottom: 0;
        }
        
        &:before {
          content: '\f1db';
          font-family: $fa-icon;
          font-size: 9px;
          margin-right: 5px;
        }
  
        
      }
    }
  }

  .skill {
    padding-left: 200px;
  }

  .history-content-wrap {
    .icon-box-item {

      @media #{$md-device} {
        display: flex;
      }

      .icon-box__icon {
        margin-right: 0px;
        margin-bottom: 0;
        flex-basis: 100px;
        width: 100px;
      }
    }
  }

  &.tour-education {
    margin-bottom: 55px;

    @media #{$sm-device} {
      margin-bottom: 40px;
    }
  }
}

.inclusion {
  margin-left:180px;
}

figure.wp-block-table {
	background-color: #FFFFFF;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
  
  td {
		border: 0px solid #AAAAAA;
		padding: 9px 9px;
	}
  
  th {
		border: 0px solid #AAAAAA;
		padding: 9px 9px;
	}
  
  tbody {
		td {
      font-size: 14px;
      
      &:first-child {
        width: 100px;
        text-align: end;
        font-weight: 600;
      }
		}
	}
}


