
/*Faq*/
.faq-list {
  width: 100%;

  .accordion {
  .card {
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-bottom: 1px solid #041129;

    .card-header {
      padding: .75rem 1.25rem;
      margin-bottom: 0;
      background-color: #fff;
    } 

    .btn-link { 
      font-size: 24px;
      color: #041129;
      font-family: "Roboto Condensed", sans-serif;
      margin: 10px 0 10px 0;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .card-body {
    font-size:14px;
    border-bottom: none;
    color: rgb(51, 48, 48);
    text-transform: none;
    margin-bottom: 0;
  }
  }
}

.member-details-top 
.member-pic
{
  height: 300px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-left: 5px;
}

.booking-procedure {
  border: 1px solid #000;
  padding: 20px;
}

.hotel-from {
  position: relative;
  float: right;
}
