/* $activeColor: #c0392b; //red */
$activeColor: #27ae60; //green
$darkenColor: darken($activeColor, 20%);
/* $background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/13460/dark_wall.png'); */
$background: #3498db;

.squaredOne {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: linear - gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: linear - gradient(top, #222 0%, #45484d 100%);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 1);
    &:after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: $activeColor;
    background: linear - gradient(top, $activeColor 0%, $darkenColor 100%);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    opacity: 0;
  }
    &:hover::after {
    opacity: 0.3;
  }
}

input[type = checkbox] {
  visibility: hidden;
    &:checked + label:after {
    opacity: 1;
  }
} 
};

/*Faq*/
.faq-list .accordion .card .card-header h3 button {
  font-size: 24px;
  color: #173366;
  font-family: "Roboto Condensed", sans-serif;
}

.faq-list .accordion .card .card-header h3 button:hover {
  text-decoration: none;
}

.faq-list .accordion .card .card-header h3 button:hover {
  text-decoration: none;
}
.faq-list .accordion .card-body h3 {
  border-bottom: none;
  color: #000;
  text-transform: none;
  margin-bottom: 0;
}
.faq-list .accordion .card-body ul {
  list-style: circle;
  padding-left: 30px;
}
.faq-list .accordion .card-body ul li {
  color: #333;
  list-style: circle;
  margin-bottom: 2px;
}

.post-item .post-content ul li {
  color: #999;
  position: relative;
  padding-left: 25px;
  background-image: url(/public/images/check.png);
  background-repeat: no-repeat;
  background-position: left top 7px;
  font-size: 14px;
}

.member-details-top .member-pic
{
  height: 300px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-left: 5px;
}

.booking-procedure {
  border: 1px solid #000;
  padding: 20px;
}

.accomodation-left-sidebar .booking-procedure ol li .step {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background: #173366;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.accomodation-left-sidebar .booking-procedure ol li .step .number {
  font-size: 20px;
  font-weight: 700;
  display: block;
  line-height: 1;
}

.accomodation-left-sidebar .booking-procedure ol li .description {
  display: inline-block;
  position: relative;
  top: -11px;
  font-size: 12px;
  margin-bottom: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
  text-align: justify;
}